{% extends "base.html" %}
{% block content %}
<section id="content" class="post-list">
{% block content_title %}
<h2>Published posts</h2>
{% endblock %}

<ol id="post-list">
{% for article in articles_page.object_list %}
        <li><article class="hentry">
                <header> <h2 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2> </header>
                <footer class="post-info">
                    <abbr class="published" title="{{ article.date.isoformat() }}">published {{ article.locale_date }} </abbr>
                </footer><!-- /.post-info -->
        </article></li>
{% endfor %}
</ol><!-- /#posts-list -->
{% include 'pagination.html' %}
</section><!-- /#content -->
{% endblock content %}